<!--
	Unicorn Deployed Configuration

	This file configures Unicorn to throw up warnings and prompts when saving items that are included by Unicorn.

	This is appropriate to use in a CE environment where Unicorn items are deployed to, as it will warn careless editors to not change items controlled by Unicorn.
	Do not enable this in a development environment.

	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
        
	</sitecore>
</configuration>
