<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="contentlink:droplinkcommand" type="DollarName.Foundation.GoToItem.Commands.DropLinkCommand, DollarName.Foundation.GoToItem"></command>
            <command name="contentlink:treelistcommand" type="DollarName.Foundation.GoToItem.Commands.TreeListCommand, DollarName.Foundation.GoToItem"></command>
            <command name="contentlink:droplistcommand" type="DollarName.Foundation.GoToItem.Commands.DropListCommand, DollarName.Foundation.GoToItem"></command>
            <command name="contentlink:groupeddroplistcommand" type="DollarName.Foundation.GoToItem.Commands.GroupedDropListCommand, DollarName.Foundation.GoToItem"></command>
        </commands>
    </sitecore>
</configuration>